/* :root{
  overflow: hidden;
} */

.ff-f {
  font-family: 'fraunces', sans-serif;
}

.ff-l {
  font-family: 'lato', sans-serif ;
}
.ff-g{
  font-family: 'Noto Sans Georgian', sans-serif;
}

.ff-op{
  font-family: 'Open Sans', sans-serif;
}

// .animation:hover{
//   animation: slide 1s ;
//   color: red;
// }

// @keyframes slid {
//   100%{
//     transform: translateX(2rem);
//   }
// }

.cust_cover{
  background-size: contain;
}

.custom_container{
  max-width: 997px;
  margin: 0 auto;
  padding: 0 1rem;
}
.custom_container-2{
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 1rem;
}

.custom_container-3{
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 1rem;
}

.custom_container-4{
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 1rem;
}

.bg-cover-2{
  background-size: cover;
}

.swiper-button-prev{
  background-color: rgba($color: #000000, $alpha: .7);
  padding: 2rem;
}

.swiper-button-next{
  background-color: rgba($color: #000000, $alpha: .7);
  padding: 2rem;
}
.swiper-button-prev:active{
  transform: scale(.9);
}
.swiper-button-next:active{
  transform: scale(.9);
}


@media (width<769px) {
  .custom_container{
    max-width: 720px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  // .bg_hidden{
  //   overflow: hidden;
  // }
  .custom_container-2{
    max-width: 720px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .custom_container-4{
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .cust_cover{
    background-size: cover;
  }
  .bg-cover-2{
    background-attachment: fixed;
  }

  .width{
    width: 22rem;
  }
}

@media (width<568px) {
  .custom_container{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .custom_container-2{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .custom_container-4{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 ;
  }
  .cust_cover{
    background-size: cover;
  }
  .bg-cover-2{
    background-attachment: fixed;
  }
}


.homebanner-h{
  height: 75%;
  background-size: 20rem;
}

@media (width<768px) {
  .homebanner-h{
    height: 60%;
    background-size: 17rem;
  }
}