/* :root{
  overflow: hidden;
} */

.ff-f {
  font-family: 'fraunces', sans-serif;
}

.ff-l {
  font-family: 'lato', sans-serif ;
}
.ff-g{
  font-family: 'Noto Sans Georgian', sans-serif;
}

.custom_container{
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
}


@media (width<768px) {
  .custom_container{
    max-width: 720px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .bg_hidden{
    overflow: hidden;
  }
}

@media (width<568px) {
  .custom_container{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
}