/* :root{
  overflow: hidden;
} */

.ff-f {
  font-family: 'fraunces', sans-serif;
}

.ff-l {
  font-family: 'lato', sans-serif ;
}
.ff-g{
  font-family: 'Noto Sans Georgian', sans-serif;
}

.ff-op{
  font-family: 'Open Sans', sans-serif;
}

// .animation:hover{
//   animation: slide 1s ;
//   color: red;
// }

// @keyframes slid {
//   100%{
//     transform: translateX(2rem);
//   }
// }

.custom_container{
  max-width: 997px;
  margin: 0 auto;
  padding: 0 1rem;
}
.custom_container-2{
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 1rem;
}

.custom_container-3{
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (width<768px) {
  .custom_container{
    max-width: 720px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .bg_hidden{
    overflow: hidden;
  }
  .custom_container-2{
    max-width: 720px;
    margin: 0 auto;
    padding: 0 1rem;
  }
}

@media (width<568px) {
  .custom_container{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .custom_container-2{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
}


.homebanner-h{
  height: 75%;
  background-size: 20rem;
}

@media (width<768px) {
  .homebanner-h{
    height: 60%;
    background-size: 17rem;
  }
}