.custom_container{
  max-width: 1320px;
  margin: 0 auto;
}

@media (width<768px) {
  .custom_container{
    max-width: 720px;
    margin: 0 auto;
  }
}

@media (width<576px) {
  .custom_container{
    max-width: 100%;
    margin: 0 auto;
  }
}